
.description_bird{
    background-color: #303030;
    padding: 15px;
    border-radius: 10px;
}

.description_bird--flex{
    display: flex;
    margin-bottom: 10px;
}
.container_player {
    width: 100%;
    padding-left: 20px;
    flex-shrink: 10;
}
.description_bird--text{
    display: block;
}

@media screen and (max-width: 480px) {
    .description_bird--flex {
        flex-wrap: wrap;
        justify-content: center;
    }
}