
.section_secret{
    display: flex;
    background-color: #303030;
    padding: 15px;
    border-radius: 15px;
}

.container_player {
    width: 100%;
    padding-left: 20px;
    flex-shrink: 10;
}
.container_player p{
    border-top: 1
}

@media screen and (max-width: 580px) {
    .section_secret {
        flex-wrap: wrap;
        justify-content: center;
    }
  }