
.container_image {
    height: 160px;    
    border-radius: 15px;
    overflow: hidden;
    flex-basis: 200px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;   
}